body{
    background-color: burlywood;
    font-style: normal;
}

button{
    width: 120px;
    height: 120px;
    box-sizing: 25px;
}

.col{
    text-align: 10px, 20px;
}
Log Line{
    width: 10px;
    height: auto;
    background-color: white;
    color: gray;
}